
body {
  margin: 0 auto;
}

header, main, footer {
  padding: 30px 20px; 
}

/* ===== Header ===== */
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px; 
  background-color: #0891b2;
  transform-origin: top left;
  transform: skewY(-10deg);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  z-index: -1;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

/* Header card */
.header-card {
  background-color: white;
  padding: 50px;
  box-shadow: none;
  max-width: 100%;
}

.header-card p {
  font-family: Roboto;
  color: #181818;
  font-size: 1.5rem;
  font-weight: 100;
}

/* Header image */
.header-image-container {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.header-image-container img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  display: block;
}

.header-image-text {
  position: absolute;    
  bottom: 0;              
  left: 0;                
  width: 100%;                
  font-size: 70px;
}

/* Header text */
.title {
  font-family: 'Playfair Display';
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
}

/* header icon settings */
.header-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 0;
}

.icon {
  height: 2rem;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.5);
}

/* ===== Main ===== */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-content: center;
}

.grid-item-container {
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.grid-item-bottom {
  padding: 1rem;
}

.image-placeholder {
  color: white;
  padding: 3rem;
  text-align: center;
  font-family: 'Playfair Display';
  font-size: 2.5rem;
}

.icons-row {
  display: flex;
  gap: 1rem;
}

.grid-item-bottom-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-item-bottom-heading h2 {
  font-family: 'Playfair Display';
  font-weight: 100;
  font-size: 1.8rem;
}

.grid-item-bottom p {
  font-family: Roboto;
  font-size: 1.2rem;
}

/* Grid image placeholders */
#img-1 { background-color: #9e1c1c; }
#img-2 { background-color: #7c75ca; }
#img-3 { background-color: #5e8f4d; }
#img-4 { background-color: #c363b4; }
#img-5 { background-color: #d88f39; }
#img-6 { background-color: #4ba2d2; }

/* ===== Footer ===== */
footer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-color: #0891b2;
  color: white;
  font-family: Roboto;
  font-size: 1.2rem;
}

footer img {
  width: 500px;
  max-width: 100vw;
  display: block;
  object-fit: fill;
}   

.contact-icon {
  height: 2.5rem;
  fill: white;
}

.phone-details, .email-details {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.footer-icon-row {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer-icon {
  fill: white;
  height: 2.5rem;
}

.footer-icon:hover {
  cursor: pointer;
  transform: scale(1.5);
}

/* ===== Tablet ===== */
@media (min-width: 744px) and (max-width: 991px) {
  header, main, footer {
    padding: 60px 50px;
  }

  .header-container {
    display: block;
  }

  .header-image-container {
    width: 300px;
    height: 400px;
    float: left;
    margin: 0 1.5rem 1rem 0;
    transform: translate(-20px, -20px);
  }

  .header-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-card {
    max-width: 650px;
    margin-top: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* ===== Desktop ===== */
@media (min-width: 992px) {
  header, main, footer {
    padding: 60px 50px;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .header-card {
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  }

  .header-image-container {
    width: auto;
    height: auto;
    float: none;
    margin: 0;
    transform: none;
  }

  .header-image-container img {
    max-width: 500px;
    width: 500px;
    height: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  }

  .header-icons {
    justify-content: end;
  }

  .header-card {
    max-width: 47rem;
    margin: 0;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5rem;
  }

  .contact-details .title {
    text-align: start;
  }

  .footer-icon-row {
    justify-content: start;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}